<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" /> 
    </head>

    <body>
        <h1>Pirulliset</h1>
        <ol>
            <li th:each="kysymys : ${kysymykset}">
                <span th:text="${kysymys.kysymysteksti}">Tehtävän nimi</span>
            </li>
        </ol>

        <form method="POST" action="/tehtavat">
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Add!"/>
        </form>
    </body>

</html>